<link rel="stylesheet" href="/css/_comment.css">

<li>
    <p>
        <%=comment.content%>
        <% if(locals.user && locals.user.id==comment.user.id) {%>
            <small>
                <a href="/comments/destroy/<%=comment._id%>"><mark>X</mark></a>
            </small>
            
        <%}%>
        <br>
        <small id="comment-name">
            <%=comment.user.name%>
        </small>
      
        <form action="/likes/create-comment-like" method="post">
            <input type="hidden" name="comment" value="<%= comment._id %>">
            <button type="submit" class="fabutton">
                <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <span><%=comment.likes.length%> likes</span>
        </form>
    </p>
</li>