<li>
    <p>
        <% if(locals.user && locals.user.id==comment.user.id) {%>
            <small>
                <a href="/comments/destroy/<%=comment._id%>">del</a>
            </small>
        <%}%>
        <%=comment.content%>
        <br>
        <small>
            <%=comment.user.name%>
        </small>
        <form action="/likes/create-comment-like" method="post">
            <input type="hidden" name="comment" value="<%= comment._id %>">
            <button type="submit" class="fabutton">
                <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <span><%=comment.likes.length%> likes</span>
        </form>
    </p>
</li>