<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <%-style%>
    </head>
    <body>
        
       <%- include('_header');-%>

       <!--body is pre defined and we are using it-->
       <%-body %>

        <%- include('_footer');-%>
        <%-script%>
    </body>
</html>